*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}
.container{
    background-color: #D4F1F4;
    width: 100%;
}

.flex-box{
display: flex;

}

.navbar-container{
width: 7%;
height: 100vh;
background-color:#05445E;
color:#D4F1F4;
display: flex;
flex-direction: column;
text-align: center;
box-shadow: 0px 0px 1px 3px #000;
z-index: 1;
position: relative;
transition: 0.5s ease;
}
.logo-container{
width: 100%;
padding-top: 1em;
}
.logo-container img{
    width: 7em;
}
nav{

}
#navbarCloseButton{
   position: absolute;
    bottom: 1em;
    right: 1em;
}
nav ul{
width: 100%;
display: flex;
flex-direction: column;
cursor: pointer;
padding-left: 3em;
}

nav ul li{
    width: 100%;
list-style: none;
padding-top: 2em;
display: flex;
justify-content:flex-start;

}

nav ul li:hover{
   background-color: #01141b;
   transition:0.6 ease-in-out;
   padding-left:0em;
}




span {
    padding-left: 1em;
   line-height: 2.2em;
}
nav ul li a{
color: #D4F1F4;
font-size: 1.5em;

/* padding-right: 1em; */
}

#nbCloseBtn:hover{
    color: #01141b;
}

.map-container{
width: 93%;
height: 100vh;
}

/*
TOOL TIP
*/
.hidden{
    visibility: hidden;
}
.stats-tool-tip-container{
    position: fixed;
    background-color:#189AB4;
    right: 0;
    box-shadow: 0px 0px 10px 3px #000;
    width: 20%;
    height: 40vh;
    z-index: 1;
}
.stats-tool-tip-container a{
    color: #D4F1F4;
    text-decoration: none;
    padding-bottom: 1em;
    
}

/*
OTHERS TOOL TIP
*/

.others-tool-tip-container{
    position: relative;
    position: fixed;
    background-color: #189AB4;
    right: 0em;
    width: 20%;
    height: 100vh;
    box-shadow: 0px 0px 15px 3px #000;
    overflow-y: auto;

}
.others-tool-tip-container a{
    color: #D4F1F4;
    text-decoration: none;
    padding-bottom: 1em;
    
}

.others-tool-tip-container h1{
    color: white;
}

.others-tool-tip-container p{
    text-align: justify;
    line-height: 30px;
    color: white;
}



.tool-tip-container-flexbox{
    display: flex;
    flex-direction: column;
    padding:3em;
}

/*
END of TOOL TIP
*/

/*
CLOSE TOOL TIP
*/

.closeToolTip{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.ttc-button-holder{
    display: flex;
    justify-content: space-between;
}

.ttc-button-holder a{
    padding: 8px;
    background-color: #05445E;
    color: #189AB4;
    border-radius: 5px;
}

