*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}
.container{
    background-color: #D4F1F4;
    width: 100%;
}

.flex-box{
display: flex;

}

.navbar-container{
width: 7%;
height: 100vh;
background-color:#05445E;
color:#D4F1F4;
display: flex;
flex-direction: column;
text-align: center;
box-shadow: 0px 0px 1px 3px #000;
z-index: 1;
position: relative;
transition: 0.5s ease;

}
.logo-container{
width: 100%;
padding-top: 1em;
}
.logo-container img{
    width: 7em;
}
nav{
width: 100%;
display: flex;

}
#navbarCloseButton{
   position: absolute;
    bottom: 1em;
    right: 1em;
}
nav ul{
width: 100%;
display: flex;
flex-direction: column;
cursor: pointer;
margin: 0 auto; 
padding-left:2em;


}

nav ul li{
    width: 100%;
    list-style: none;
    padding-top: 2em;
    display: flex;
margin: 0 auto;
padding-left: 0em;


}

nav ul li:hover{
   background-color: #01141b;
   padding-left: 2em;
   transition:1 ease;

   
}


span {
    padding-left: 1em;
   line-height: 2.2em;
}
nav ul li a{
color: #D4F1F4;
font-size: 1.5em;

/* padding-right: 1em; */
}

#nbCloseBtn:hover{
    color: #01141b;
}

.map-container{
width: 93%;
height: 100vh;
}

/*
TOOL TIP
*/
.hidden{
    visibility: hidden;
}
.stats-tool-tip-container{
    position: fixed;
    background-color:#189AB4;
    right: 0;
    box-shadow: 0px 0px 20px 3px #000;
    width: 20%;
    height: 40vh;
    z-index: 1;
}
.stats-tool-tip-container a{
    color: #D4F1F4;
    text-decoration: none;
    padding-bottom: 1em;
    
}

/*
OTHERS TOOL TIP
*/

.others-tool-tip-container{
    position: relative;
    position: fixed;
    background-color: #189AB4;
    right: 0em;
    width: 25%;
    height: 100vh;
    box-shadow: 0px 0px 15px 3px #000;
    overflow-y: auto;

}
.others-tool-tip-container a{
    color: #D4F1F4;
    text-decoration: none;
    padding-bottom: 1em;
    
}

.others-tool-tip-container h1{
    color: white;
}

.others-tool-tip-container p{
    text-align: justify;
    line-height: 30px;
    color: white;

}



.tool-tip-container-flexbox{
    display: flex;
    flex-direction: column;
    padding:3em;
}

/*
END of TOOL TIP
*/

/*
CLOSE TOOL TIP
*/

.closeToolTip{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.ttc-button-holder{
    display: flex;
    justify-content: space-between;
}

.ttc-button-holder a{
    padding: 8px;
    background-color: #05445E;
    color: #189AB4;
    border-radius: 5px;
}

.draggable {
    padding: 1em;
    position: absolute;
    border-radius: 10px;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
    overflow-y: auto;
    top : 40vh;
    left: 50vw;
}

.draggableheader{
    padding-bottom: 2em;
    
}

.data_class {
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: black;
}
.navigation{
    position: fixed;
    width: 3%;
    min-width: 60px;
    height: 100%;
    background: #121833;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
}
.navigation:hover,
.navigation.active{
    width: 200px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    z-index: 1;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover{
    background: #3c3c3d;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon .fa{
    font-size: 24px;
    margin-top: 20px;
}
.navigation ul li a:hover .icon .fa{
    color: #a2cdde;
}
.navigation ul li a .title{
    position: relative;
    margin-top: 5px;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}



.toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #121833;
    cursor: pointer;
    z-index: 1;
}
.toggle.active{
    background: #959596;
}
.toggle::before{
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}
.toggle.active:before{
    content: '\f00d';
}

hr{
    background-color: #fff;
}


@media (max-width: 767px){
    .navigation{
        left: -60px;
    }
    .navigation{
        left: 0px;
        width: 100%;
    }
}

@media (max-width: 360px){
    .navigation{
        left: 0px;
        width: 5%;
    }
}